<!DOCTYPE html>
<html>

<head>
    <title>Blog Status</title>
</head>

<body>
    <h1>Blog Feature</h1>
    <ul>
        <% blogs.forEach(blog=> { %>
            <li>
                <h2>
                    <%= blog.title %>
                </h2>
                <p>
                    <%= blog.description %>
                </p>
            </li>
            <% }) %>
    </ul>

    
    
</body>

</html>